{{ define "main" }}
<section>
  <h1>{{ .Title }}</h1>
  {{ range .Pages }}
  <div class="card mb-32">
    <div class="card__media">
      {{ $cover := "" }}
      {{ with .Resources }} {{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }} {{ $cover = .Resize "600x" }} {{ end }} {{ end }}
      {{ if $cover }}
      <img src="{{ $cover.RelPermalink }}" />
      {{ else }}
      <div class="img-placeholder" style="min-height:200px;"></div>
      {{ end }}
    </div>
    <div class="card__body">
      <span class="card__title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </span>
      <div>{{.Summary}}</div>
    </div>
  </div>
  {{ end }}
</section>
{{ end }}
