<header class="header">
  <nav class="nav">
    <a class="nav__link" href="/about">About</a>
    <a class="nav__link" href="/art">Artwork</a>
  </nav>
  <div class="brand">
    <img src="/lindsaybalfour.png" style="width: 300px" />
    <!-- <div class="brand__title">{{ .Site.Title}}</div>
    <div class="brand__subtitle">Curator of Creativity</div> -->
  </div>
  <nav class="nav">
    <a class="nav__link" href="/event">Events</a>
    <a class="nav__link" href="/project">Project</a>
  </nav>
</header>
