<ul>
  <li class="h-stack">
    <img src="/svg/mail.svg" width="14" height="14" alt="" />
    <a href="mailto:lindsay.m.balfour@gmail.com">lindsay.m.balfour@gmail.com</a>
  </li>
  <li class="h-stack">
    <img src="/svg/earth.svg" width="14" height="14" alt="" />
    <a href="https://lindsaybalfour.com">lindsaybalfour.com</a>
  </li>
  <li class="h-stack">
    <img src="/svg/linkedin.svg" width="14" height="14" alt="" />
    <a href="https://linkedin.com/in/lbalfour">linkedin.com/in/lbalfour</a>
  </li>
  <li class="h-stack">
    <img src="/svg/map-pin.svg" width="14" height="14" alt="" />
    Stockholm, Sweden
  </li>
</ul>
