<section id="education">
  <h2>Education</h2>
  <article class="position">
    <header>
      <div>
        <h3>Bachelor of Fine Arts</h3>
        <p class="organization">University of Michigan</p>
        <p class="time-period">2008—2012</p>
      </div>
    </header>
  </article>
  <article class="position">
    <header>
      <div>
        <h3>Python Bootcamp</h3>
        <p class="organization">Hackbright Academy</p>
        <p class="time-period">2016</p>
      </div>
    </header>
  </article>
  <article class="position">
    <header>
      <div>
        <h3>Study Abroad — Fine Arts</h3>
        <p class="organization">Studio Art Center International, Florence</p>
        <p class="time-period">2010</p>
      </div>
    </header>
  </article>
</section>
