{{ define "main" }}
<section>
  <h1>Art</h1>
  <div class="grid grid-cols-3 gap-8">
    {{ range .Pages }}
    <div class="gallery-item mb-32">
      {{ $cover := "" }}
      {{ with .Resources }} {{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }} {{ $cover = .Resize "600x" }} {{ end }} {{ end }}
      {{ if $cover }}
      <img src="{{ $cover.RelPermalink }}" />
      {{ else }}
      <div class="img-placeholder" style="min-height:200px;"></div>
      {{ end }}
      <a href="{{ .RelPermalink }}">
        <div class="gallery-item__overlay">{{ .Title }}</div>
      </a>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
